.image {
    width: 100%;
    height: 100vh;
  
}

.content{
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  width: 700px;
  font-size: x-large;
}
.content span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.right img{
   position:absolute ;
   right: 20px;
   top: 50%;
   width: 50px;
    cursor: pointer;
  
  
}
.right img:hover{
    scale: 1.2;
    transition: 0.5s;
}

.left img{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: rotate(180deg);
    width: 50px;
    cursor: pointer;
    
}
.left img:hover{
    scale: 1.2;
    transition: 0.5s;
}